html,
body {
  height: 100%;
}

.card {
  border-radius: 1em;
  text-align: center;
}
.card:hover {
  background-color: rgb(255, 228, 196, 0.3);
}

.card img {
  border-radius: 50%;
  width: 60%;
  margin: auto;
  padding: 1em;
}
